* {
    margin: 0;
    padding: 0;
}
body{
    /* max-width: 1900px; */
    background-image: url('https://i.stack.imgur.com/p9mUO.jpg');
    background-size: cover;
}
.nab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: nab;
   
}

.nab img {
    border: solid 5px yellow;
    width: 200px;
    height: 200px;
    position: fixed;
}

.nab ul {
    list-style: none;
    background-color: rgb(89, 0, 255);
    height: 100%;
    position: fixed;
}

.nab ul a {
    text-decoration: none;
    
    font-weight: bolder;
    color: rgb(229, 255, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nab li{
    
    padding: 30px;
    height: 80px;
    text-align: center;
}
.nab li:hover{
    transform: skewY(20deg);
    transition: 2s;
}

.nab li:hover {
    background-color: rgb(255, 255, 255);
}


.premainus {
    color: rgb(0, 0, 0);
    background-color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    height: 50px;
    animation-name: animacion;
    animation-duration:9s;
    animation-iteration-count: infinite;
    
}

.seccion1 {
    margin: 70px;
    padding: 70px;
    background-color: black;
    border: solid 4px white;
    border-radius: 20px;
    max-width: 800px;
    text-align: center;
    margin-left: 600px;
}

.seccion1 h2 {
    background-color: aqua;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    padding: 10px;
    margin: 18px;
}

.seccion1 p {
    font-size: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    max-width: 1450px;
    color: white;
}

.seccion2 {
    margin: 70px;
    padding: 70px;
    background-color: aqua;
    border: solid 4px white;
    border-radius: 20px;
    max-width: 800px;
    text-align: center;
    margin-left: 600px;
}

.seccion2 h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color: black;
    padding: 10px;
    margin: 18px;
    color: aqua;

}

.seccion2 p {
    font-size: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    max-width: 1450px;
    color: black;

}

.footer {
    max-width: 1900px;
    margin-left: 290px;
    background-color: rgb(89, 0, 255);
    border: solid 8px yellow;



}

.footer ul {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    height:160px;
    align-content: center;
    justify-content: center;
    


}

.footer li {
    list-style: none;
   
}
.footer li:hover{
    background-color:rgb(141, 224, 216);
    border: solid 4px yellow;
    text-decoration:line-through;

}

.footer a {
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 22px;
}
.footer i {
    font-size: 30px;
}
@keyframes animacion {
    0% {background-color: aqua;}
    3%{background-color: blueviolet;
    color: blue;}
    9%{background-color: crimson;
    }16% {background-color: green;}
     21% {background-color: yellow;}
    28%{background-color: rgb(255, 0, 128);}
    35%{background-color: red;}
    40% {background-color: white;}
    50%{ background-color: olivedrab;}
    60%{background-color: orchid;}
    70%{background-color: lawngreen;}
    80%{background-color: fuchsia;}
    90%{background-color: springgreen;}
    100%{background-color: tomato;
    color: yellow;}

   
     
}
